extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.webp", alt="Imagen sobre nosotros", class="img-fluid radius")
            .col-md-7
                h1= pagina 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate porttitor neque. Maecenas vestibulum lobortis accumsan. Curabitur ac velit risus. Aliquam interdum lacus lacinia, porta felis vel, rhoncus arcu. Sed vitae diam ut augue dictum rutrum non nec augue. Aliquam a porta lorem. Ut efficitur leo vel neque aliquam, vel aliquam purus euismod. Nullam ultrices, lacus nec consectetur egestas.
                            

                p Nulla ut nunc eros. Cras euismod, nisi ut maximus lobortis, orci felis consectetur nisi, eu lacinia risus mi ac enim. Aenean posuere nisl eget magna rutrum, ut malesuada mauris euismod. Duis non ultrices enim. Duis elit erat, aliquam quis est a, pulvinar molestie diam. Etiam ut felis gravida, vulputate neque a, finibus nisi.

    .iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4 color")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate porttitor neque. 

                .col-md-4
                    img(src="img/icono_confort.svg", alt="icono seguridad", class="img-fluid mb-4 color2")
                    h2.mb-4 Confort
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate porttitor neque. 

                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4 color")
                    h2.mb-4 Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate porttitor neque.         

                    