footer.container.py-5    
        
    nav.nav.footer.justify-content-center
        a.nav-link(href="/nosotros") Nosotros
        a.nav-link(href="/viajes")  Viajes 
        a.nav-link(href="/testimonios") Testimonios 
        
    p.text-center.justify-content-center.mt-3
        | Todos los derechos reservados &#169 
        span=actualYear